<ion-header [translucent]="true">
  <ion-toolbar style = "--background: white;">
    <ion-title class="ion-text-center">
      <img src="/assets/icon/everywhere1.png" width="250px" height="125px" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button fill ="outline" color = "light" (click) = "makeAccount()">Aanmelden</ion-button>  </div>
</ion-content>
